# Byte-compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Django
db.sqlite3
media/
*.log

# Node
web_frontend/node_modules/
web_frontend/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
